# Jupyter notebook Tips

## dataTable を使う

### 通常の table

In [2]:
from IPython.display import HTML
import re
#import qgrid

In [3]:
%%javascript
require.config({
  paths: {
    dataTables: '//cdn.datatables.net/1.10.12/js/jquery.dataTables.min'
  }
});

In [11]:
HTML('''
<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<table class="display" id="example"  cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Office</th>
      <th>Age</th>
      <th>Start date</th>
      <th>Salary</th>
    </tr>
  <tbody>
    <tr>
      <td>Tiger Nixon</td>
      <td>System Architect</td>
      <td>Edinburgh</td>
      <td>61</td>
      <td>2011/04/25</td>
      <td>$320,800</td>
    </tr>
    <tr>
      <td>Garrett Winters</td>
      <td>Accountant</td>
      <td>Tokyo</td>
      <td>63</td>
      <td>2011/07/25</td>
      <td>$170,750</td>
    </tr>
    <tr>
      <td>Ashton Cox</td>
      <td>Junior Technical Author</td>
      <td>San Francisco</td>
      <td>66</td>
      <td>2009/01/12</td>
      <td>$86,000</td>
    </tr>
  </tbody>
</table>
<script>
    require(['dataTables'], function(){
        $('#example').DataTable();
    });
</script>
''')

### DataFrame

In [12]:
import pandas as pd

img_tag ="""<img src="whale/images/{}" />"""
select_tag="""<select name="example"><option value=""></option><option value="1">○</option><option value="2">×</option></select>"""

html_template = """<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
{}
<script>
    require(['dataTables'], function(){{
        /* Create an array with the values of all the select options in a column */
        $.fn.dataTable.ext.order['dom-select'] = function ( settings, col ) {{ 
            return this.api().column( col, {{order:'index'}} ).nodes().map( function ( td, i ) {{
                return $('select', td).val();
            }});
        }}    
        table = $('#example1').DataTable({{
            "columnDefs": [
                {{
                    "targets": 4,
                    "orderDataType": "dom-select"
                }}
            ]             
        }});
    }});
</script>
"""

data = {"year": [2010, 2011, 2012, 2013],
        "pref":["千葉", "山口", "岐阜", "東京"]       
       }
df = pd.DataFrame(data)
pd.set_option("display.max_colwidth", 120)

img_list = ['G0010041.JPG', 'G0010042.JPG', 'G0010043.JPG', 'G0010044.JPG']
img_list = [ img_tag.format(row) for row in img_list ] # [counter for counter in iterator]

df['img'] = img_list
df['result'] = select_tag

table =  re.sub(' example', '" id="example1', df.to_html(classes=['table', 'example'], escape=False)) # df.to_html(classes="table", escape=False)
html = html_template.format(table)  

HTML( html )

In [14]:
import pandas as pd

img_tag ="""<img src="whale/images/{}" />"""
select_tag="""<select name="example"><option value=""></option><option value="1">○</option><option value="2">×</option></select>"""

html_template = """<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
{}
<script>
    require(['dataTables'], function(){{
        /* Create an array with the values of all the select options in a column */
        $.fn.dataTable.ext.order['dom-select'] = function ( settings, col ) {{ 
            return this.api().column( col, {{order:'index'}} ).nodes().map( function ( td, i ) {{
                return $('select', td).val();
            }});
        }}    
        table = $('#example2').DataTable({{
            "columnDefs": [
                {{
                    "targets": 4,
                    "orderDataType": "dom-select"
                }}
            ]             
        }});
    }});
</script>
"""

data = {"year": [2010, 2011, 2012, 2013],
        "pref":["千葉", "山口", "岐阜", "東京"]       
       }
df = pd.DataFrame(data)
pd.set_option("display.max_colwidth", 120)

img_list = ['G0010041.JPG', 'G0010042.JPG', 'G0010043.JPG', 'G0010044.JPG']
img_list = [ img_tag.format(row) for row in img_list ] # [counter for counter in iterator]

df['img'] = img_list
df['result'] = select_tag

table =  re.sub(' example2', '" id="example2', df.to_html(classes=['example2'], escape=False)) # df.to_html(classes="table", escape=False)
html = html_template.format(table)  

HTML( html )